<h1><%= @kitten.name %></h1>
<p><%= @kitten.age %></p>
<p><%= @kitten.cuteness %></p>
<p><%= @kitten.softness %></p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %> 
<%= link_to 'Destroy', @kitten, method: :delete,
                                     data: { confirm: 'Are you sure?' } %>
